.bg-k{
background: black;
color: white;}

.bg-y{
background: #eac600;
color: black;}

.bg-r{
background: #ca1919;
color: white;}

.bg-b{
background: #233bb5;
color: white;}

.bg-v{
background: #704828;
color: white;}

.bg-l{
background: #8200cd;
color: white;}

.bg-o{
background: #e16810;
color: black;}


.bg-w{
background: #e5e5e5;
color: black;}

.justifyright{
float:right;}